<div class="container-fluid">
    <div class="row row1">
        <div class="col-md-2 sm"></div>
        <div class="col-12 col-md-4 text">
            <span style="font-weight:lighter; font-size: .8em">Duncan Constructions have been awarded</span><br>
            <span class="font-resize">Best of Houzz 2018 <br> award for <br> <strong>Customer Service</strong>.</span>
        </div>
        <div class="col-12 col-md-4 images">
            <div class="col-3"></div>
            <img class="col-6" src="assets/images/290309.png" alt="">
            <div class="col-3"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row row2">
        <!-- <h2 class="title">Why choose us!</h2> -->
        <div class="col-12 col-md-8 text1">
            <h2 class="title" style="margin-bottom: 3%;">Why choose us!<br></h2>
            <h5 class="description heading-five">Duncan Constructions are your local general builder, we specialise in
                one off designs, domestic, small commercial, restorations and specialty construction.</h5>
            <p></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-3 t1">
                    <div class="center-content">
                        <div class="icon"><i style="font-size: 3.5em;" class="fa fa-home"></i></div>
                        <h4 class="info-title">Custom Build Homes</h4>
                        <p style="font-weight:lighter; font-size: .8em"> We build luxurious custom built homes</p>
                    </div>
                    <p></p>
                </div>
                <div class="col-sm-3 t2">
                    <div class="center-content">
                        <div class="icon"><i style="color:#41A900; font-size: 3.5em;" class="fa fa-leaf"></i></div>
                        <h4 class="info-title">Green Building</h4>
                        <p style="font-weight:lighter; font-size: .8em"> We are environmentally aware when building</p>
                    </div>
                    <p></p>
                </div>
                <div class="col-sm-3 t3">
                    <div class="center-content">
                        <div class="icon"><i style="color:grey; font-size: 3.5em;" class="fa fa-shower"></i></div>
                        <h4 class="info-title">Extensions / Renovations</h4>
                        <p style="font-weight:lighter; font-size: .8em"> Small to Large extensions and renovations</p>
                    </div>
                    <p></p>
                </div>
                <div class="col-sm-3 t4">
                    <div class="center-content">
                        <div class="icon"><i style="color:red; font-size: 3.5em;" class="fa fa-wrench"></i></div>
                        <h4 class="info-title">Restorations</h4>
                        <p style="font-weight:lighter; font-size: .8em"> We restore old dilapidated homes</p>
                    </div>
                    <p></p>
                </div>
                <p></p>
            </div>
        </div>
        <div class="col-sm-1">
            
        </div>
    </div>


    <div class="row">
        <div class="col-sm-3 t1">
            <div class="center-content">
                <div class="icon"><i style="font-size: 3.5em;" class="fa fa-home"></i></div>
                <h4 class="info-title">Custom Build Homes</h4>
                <p style="font-weight:lighter; font-size: .8em"> We build luxurious custom built homes</p>
            </div>
            <p></p>
        </div>
        <div class="col-sm-3 t2">
            <div class="center-content">
                <div class="icon"><i style="color:#41A900; font-size: 3.5em;" class="fa fa-leaf"></i></div>
                <h4 class="info-title">Green Building</h4>
                <p style="font-weight:lighter; font-size: .8em"> We are environmentally aware when building</p>
            </div>
            <p></p>
        </div>
        <div class="col-sm-3 t3">
            <div class="center-content">
                <div class="icon"><i style="color:grey; font-size: 3.5em;" class="fa fa-shower"></i></div>
                <h4 class="info-title">Extensions / Renovations</h4>
                <p style="font-weight:lighter; font-size: .8em"> Small to Large extensions and renovations</p>
            </div>
            <p></p>
        </div>
        <div class="col-sm-3 t4">
            <div class="center-content">
                <div class="icon"><i style="color:red; font-size: 3.5em;" class="fa fa-wrench"></i></div>
                <h4 class="info-title">Restorations</h4>
                <p style="font-weight:lighter; font-size: .8em"> We restore old dilapidated homes</p>
            </div>
            <p></p>
        </div>
        <p></p>
    </div>

</div>