<div class="container-fluid hero">
  <div class="row row1">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
      <div class="row row2">
        <div class="col-12 col-md-4 col4">
          <img class="hero__logo--resize" src="assets/images/hero_images/white_text_logo_duncan.png" alt="">
        </div>
        <div class="col-12 col-md-8 col8 nopadding">
          <div class="col-12 col-md-12 sm">
            <img class="hero__constructions--resize" src="assets/images/hero_images/text_logo_construction.png" alt="">
            <div class="col-12 col-md-4 nopadding when-others-cant">
              <img class="hero__slogan--resize when" src="assets/images/hero_images/grey_text_logo_when.png" alt="">
              <img class="hero__slogan--resize others-resize others" src="assets/images/hero_images/grey_text_logo_others.png"
                alt="">
              <img class="hero__slogan--resize cant" src="assets/images/hero_images/grey_text_logo_cant_1.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>