<div class="container-fluid">
  <div class="row row1">
    <div class="col-12 col-md-12 text1">
      <h2 class="title" style="margin-bottom: 3%;">View our work!<br></h2>
      <h5 class="description heading-five">Take a look at some of our latest projects.</h5>
      <p></p>
    </div>
  </div>




  

  <div class="row">

    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-12">
      <div class="row row2">
        <div class="col-md-1"></div>
        <div class="col-12 col-md-8 slide1">
          <!-- <img class="back-resize" src="../../../assets/images/EDITED/slider-background.jpg" alt=""> -->
          <!-- <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> -->
          <ngb-carousel>
            <ng-template  ngbSlide>
              <img class=" test" src="../../../assets/images/34 Union St Semaphore/Web/34 Union St Semaphore - Web-201.jpg"
                alt="Random first slide">
              <!-- <div class="carousel-caption">
                  <h3>First slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div> -->
            </ng-template>
            <ng-template ngbSlide>
              <img class=" test" src="../../../assets/images/34 Union St Semaphore/Web/34 Union St Semaphore - Web-220.jpg"
                alt="Random second slide">
              <!-- <div class="carousel-caption">
                  <h3>Second slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div> -->
            </ng-template>
            <ng-template ngbSlide>
              <img class=" test" src="../../../assets/images/34 Union St Semaphore/Web/34 Union St Semaphore - Web-221.jpg"
                alt="Random third slide">
              <!-- <div class="carousel-caption">
                  <h3>Third slide label</h3>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div> -->
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
      <div class="row row3">
        <div class="col-12 col-md-5 call-us">
          <div class="call-button">
            <div><span class="button-text">Call to discuss your ideas today!</span><br></div>
            <div><button class="btn btn-primary"><a href="tel:+61426008309"><i class="fa fa-mobile"></i> CALL NOW</a></button></div>
          </div>
        </div>
        <div class="col-12 col-md-6 slide2">
          <!--           
            <img class="back-resize" src="../../../assets/images/EDITED/slider-background.jpg" alt=""> -->
          <ngb-carousel>
            <ng-template ngbSlide>
              <img class="w-100" src="../../../assets/images/34 Union St Semaphore/Web/34 Union St Semaphore - Web-201.jpg"
                alt="Random first slide">
              <!-- <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div> -->
            </ng-template>
            <ng-template ngbSlide>
              <img class="w-100" src="../../../assets/images/34 Union St Semaphore/Web/34 Union St Semaphore - Web-220.jpg"
                alt="Random second slide">
              <!-- <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div> -->
            </ng-template>
            <ng-template ngbSlide>
              <img class="w-100" src="../../../assets/images/34 Union St Semaphore/Web/34 Union St Semaphore - Web-221.jpg"
                alt="Random third slide">
              <!-- <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div> -->
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
      <div class="row row4">
        <div class="col-md-1"></div>
        <div class="col-12 col-md-8 slide3">
          <!-- <img class="back-resize" src="../../../assets/images/EDITED/slider-background.jpg" alt=""> -->
          <ngb-carousel>
            <ng-template ngbSlide>
              <img class="w-100" src="../../../assets/images/34 Union St Semaphore/Web/34 Union St Semaphore - Web-201.jpg"
                alt="Random first slide">
              <!-- <div class="carousel-caption">
                  <h3>First slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div> -->
            </ng-template>
            <ng-template ngbSlide>
              <img class="w-100" src="../../../assets/images/34 Union St Semaphore/Web/34 Union St Semaphore - Web-220.jpg"
                alt="Random second slide">
              <!-- <div class="carousel-caption">
                  <h3>Second slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div> -->
            </ng-template>
            <ng-template ngbSlide>
              <img class="w-100" src="../../../assets/images/34 Union St Semaphore/Web/34 Union St Semaphore - Web-221.jpg"
                alt="Random third slide">
              <!-- <div class="carousel-caption">
                  <h3>Third slide label</h3>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div> -->
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>


  </div>

</div>